@model WebApplication.Models.IndexViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>SSO Domain Cookie check.</title>
    </head>
    <body>
        <div>
            
            @if (Model != null)
            {
                if(Model.Message != null)
                {
                    <h1>Message</h1>
                    <font color="red">@Model.Message</font>
                    <br/>   
                }
                if (Model.OtherCookie != null)
                {
                    @Html.DisplayFor(model => model.OtherCookie)   
                }
            }


            <h2>Enter cookie data.</h2>
            @using (Html.BeginForm())
            {
                <input type="text" name="cookieData" value="Hello World"/>
                <input type="submit" value="Create Cookie"/>
            }
            
            <hr/>
            
            <h3>Site One Cookie:</h3>
            @if (Model != null && Model.ThisCookie != null)
            {
                @Html.DisplayFor(model => model.ThisCookie)   
            }
        </div>
        <div>
            <h3>Cookie Request Dump:</h3>
            @foreach (var cookieKey in Request.Cookies.AllKeys)
            {
                <div>
                    <span>@Request.Cookies[cookieKey].Name</span>
                    <span>@Request.Cookies[cookieKey].Value</span>
                </div>
            }
        </div>
    </body>
</html>